.App {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-image: linear-gradient( #6e3f98, #d6ab97)
  
}

.welcome-title{
  
  margin-top: 0;
  margin-left: 4rem;;
  padding-top: 2rem;
}

.current-weather-btn {
  width: 120px;
  margin:0 auto;
  display:block;
}



